In [9]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
dataset = pd.read_csv("Electric_Vehicle_Population_Data.csv")
dataset.head(3)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EBXK,King,Seattle,WA,98178.0,2019.0,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,37.0,477309682,POINT (-122.23825 47.49461),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,5YJYGDEE3L,Kitsap,Poulsbo,WA,98370.0,2020.0,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291.0,0.0,23.0,109705683,POINT (-122.64681 47.73689),PUGET SOUND ENERGY INC,5.303509e+10
2,KM8KRDAF5P,Kitsap,Olalla,WA,98359.0,2023.0,HYUNDAI,IONIQ 5,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,26.0,230390492,POINT (-122.54729 47.42602),PUGET SOUND ENERGY INC,5.303509e+10

In [11]:
dataset.isnull().sum()

VIN (1-10)                                            10
County                                                 3
City                                                   3
State                                                  0
Postal Code                                           18
Model Year                                            11
Make                                                  16
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                        39
Base MSRP                                             36
Legislative District                                 494
DOL Vehicle ID                                         0
Vehicle Location                                      10
Electric Utility                                       3
2020 Census Tract                                      3
dtype: int64

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235692 entries, 0 to 235691
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         235682 non-null  object
 1   County                                             235689 non-null  object
 2   City                                               235689 non-null  object
 3   State                                              235692 non-null  object
 4   Postal Code                                        235674 non-null  float64
 5   Model Year                                         235681 non-null  float64
 6   Make                                               235676 non-null  object
 7   Model                                              235692 non-null  object
 8   Electric Vehicle Type                              235692 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  235692 non-null  object
 10  Electric Range                                     235653 non-null  float64
 11  Base MSRP                                          235656 non-null  float64
 12  Legislative District                               235198 non-null  float64
 13  DOL Vehicle ID                                     235692 non-null  int64
 14  Vehicle Location                                   235682 non-null  object
 15  Electric Utility                                   235689 non-null  object
 16  2020 Census Tract                                  235689 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 30.6+ MB

In [47]:
f=dataset["Electric Range"].mode()[0]

In [49]:
dataset.fillna({"Electric Range":dataset["Electric Range"].mode()[0]},inplace=True)

In [51]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235692 entries, 0 to 235691
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         235682 non-null  object
 1   County                                             235692 non-null  object
 2   City                                               235689 non-null  object
 3   State                                              235692 non-null  object
 4   Postal Code                                        235674 non-null  float64
 5   Model Year                                         235681 non-null  float64
 6   Make                                               235676 non-null  object
 7   Model                                              235692 non-null  object
 8   Electric Vehicle Type                              235692 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  235692 non-null  object
 10  Electric Range                                     235692 non-null  float64
 11  Base MSRP                                          235656 non-null  float64
 12  Legislative District                               235198 non-null  float64
 13  DOL Vehicle ID                                     235692 non-null  int64
 14  Vehicle Location                                   235682 non-null  object
 15  Electric Utility                                   235689 non-null  object
 16  2020 Census Tract                                  235689 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 30.6+ MB

In [53]:
f=dataset["County"].mode()[0]
dataset.fillna({"County":f},inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235692 entries, 0 to 235691
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         235682 non-null  object
 1   County                                             235692 non-null  object
 2   City                                               235689 non-null  object
 3   State                                              235692 non-null  object
 4   Postal Code                                        235674 non-null  float64
 5   Model Year                                         235681 non-null  float64
 6   Make                                               235676 non-null  object
 7   Model                                              235692 non-null  object
 8   Electric Vehicle Type                              235692 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  235692 non-null  object
 10  Electric Range                                     235692 non-null  float64
 11  Base MSRP                                          235656 non-null  float64
 12  Legislative District                               235198 non-null  float64
 13  DOL Vehicle ID                                     235692 non-null  int64
 14  Vehicle Location                                   235682 non-null  object
 15  Electric Utility                                   235689 non-null  object
 16  2020 Census Tract                                  235689 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 30.6+ MB

In [55]:
dataset.select_dtypes(include="object").isnull().columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Make', 'Model',
       'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Vehicle Location',
       'Electric Utility'],
      dtype='object')

In [65]:
dataset.select_dtypes(include="object").isnull().sum()

VIN (1-10)                                           0
County                                               0
City                                                 0
State                                                0
Make                                                 0
Model                                                0
Electric Vehicle Type                                0
Clean Alternative Fuel Vehicle (CAFV) Eligibility    0
Vehicle Location                                     0
Electric Utility                                     0
dtype: int64

In [63]:
for i in dataset.select_dtypes(include="object").columns:
    dataset[i].fillna(dataset[i].mode()[0],inplace=True)

C:\Users\adars\AppData\Local\Temp\ipykernel_14100\1548840399.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mode()[0],inplace=True)

In [69]:
dataset.isnull().sum()

VIN (1-10)                                             0
County                                                 0
City                                                   0
State                                                  0
Postal Code                                           18
Model Year                                            11
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                             36
Legislative District                                 494
DOL Vehicle ID                                         0
Vehicle Location                                       0
Electric Utility                                       0
2020 Census Tract                                      3
dtype: int64

In [73]:
dataset.select_dtypes(include="float").isnull().sum()

Postal Code              18
Model Year               11
Electric Range            0
Base MSRP                36
Legislative District    494
2020 Census Tract         3
dtype: int64

In [83]:
for i in dataset.select_dtypes(include="float").columns:
    dataset[i].fillna(dataset[i].mean(),inplace=True)

C:\Users\adars\AppData\Local\Temp\ipykernel_14100\3894504382.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mean(),inplace=True)

In [85]:
dataset.isnull().sum()

VIN (1-10)                                           0
County                                               0
City                                                 0
State                                                0
Postal Code                                          0
Model Year                                           0
Make                                                 0
Model                                                0
Electric Vehicle Type                                0
Clean Alternative Fuel Vehicle (CAFV) Eligibility    0
Electric Range                                       0
Base MSRP                                            0
Legislative District                                 0
DOL Vehicle ID                                       0
Vehicle Location                                     0
Electric Utility                                     0
2020 Census Tract                                    0
dtype: int64