In [2]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [4]:
dataset = pd.read_csv("Electric_Vehicle_Population_Data.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235692 entries, 0 to 235691
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         235682 non-null  object
 1   County                                             235689 non-null  object
 2   City                                               235689 non-null  object
 3   State                                              235692 non-null  object
 4   Postal Code                                        235674 non-null  float64
 5   Model Year                                         235681 non-null  float64
 6   Make                                               235676 non-null  object
 7   Model                                              235692 non-null  object
 8   Electric Vehicle Type                              235692 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  235692 non-null  object
 10  Electric Range                                     235653 non-null  float64
 11  Base MSRP                                          235656 non-null  float64
 12  Legislative District                               235198 non-null  float64
 13  DOL Vehicle ID                                     235692 non-null  int64
 14  Vehicle Location                                   235682 non-null  object
 15  Electric Utility                                   235689 non-null  object
 16  2020 Census Tract                                  235689 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 30.6+ MB

In [10]:
dataset.select_dtypes(include="float64").columns

Index(['Postal Code', 'Model Year', 'Electric Range', 'Base MSRP',
       'Legislative District', '2020 Census Tract'],
      dtype='object')

In [14]:
si=SimpleImputer(strategy="mean")
ar=si.fit_transform(dataset[['Postal Code', 'Model Year', 'Electric Range', 'Base MSRP',
       'Legislative District', '2020 Census Tract']])

In [22]:
new_data=pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)

In [24]:
new_data.isnull().sum()

Postal Code             0
Model Year              0
Electric Range          0
Base MSRP               0
Legislative District    0
2020 Census Tract       0
dtype: int64

In [26]:
new_data

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,2020 Census Tract
0,98178.0,2019.0,220.0,0.0,37.0,5.303301e+10
1,98370.0,2020.0,291.0,0.0,23.0,5.303509e+10
2,98359.0,2023.0,0.0,0.0,26.0,5.303509e+10
3,98380.0,2021.0,30.0,0.0,35.0,5.303509e+10
4,98576.0,2023.0,42.0,0.0,2.0,5.306701e+10
...,...,...,...,...,...,...
235687,98407.0,2024.0,21.0,0.0,27.0,5.305306e+10
235688,98292.0,2018.0,249.0,0.0,10.0,5.306105e+10
235689,98052.0,2015.0,19.0,0.0,48.0,5.303303e+10
235690,98258.0,2023.0,0.0,0.0,44.0,5.306105e+10
235691,98027.0,2023.0,0.0,0.0,5.0,5.303303e+10